.side-bar 
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 500px;
    background-color: red;
    overflow: hidden;
    z-index: 1;
}

.top-bar-APK
{
   display: none; 
}

.johannesburg
{
    height: 100%;
    object-position: -550px;
}

/*@media(max-width: 1200px)
{
    .side-bar
    {
        width: 0px;
        height: 0px;
        display: none;
    }

    .Johannesburg
    {
        height: 0px;
    }
}*/

/*@media(max-width: 370px)
{
    .side-bar
    {
        display: none;
    }

    .top-bar-APK
    {
        top: 0px;
        display: flex;
        width: calc(100% + 12.5px);
        margin-left: -6.25px;
        height: auto;
        overflow: hidden;
    }

    .johannesburg-APK
    {
        width: 100%;
    }
}*/

@media(max-width: 450px)
{
    .side-bar
    {
        display: none;
    }

    .top-bar-APK
    {
        top: 0px;
        display: flex;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .johannesburg-APK
    {
        width: 100%;
    }
}

@media(max-width: 740px) and (max-height: 360px)
{
    .side-bar
    {
        width: 200px;
    }

    .johannesburg
    {
        height: 100%;
        object-position: -360px;
    }

}