.side-bar 
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 500px;
    background-color: red;
    overflow: hidden;
    z-index: 1;
}

.Johannesburg
{
    height: 100%;
    object-position: -550px;
}

/*@media(max-width: 1200px)
{
    .side-bar
    {
        width: 0px;
        height: 0px;
        display: none;
    }

    .Johannesburg
    {
        height: 0px;
    }
}*/
